<main *ngIf="contact" class="main-content contact-details flex column align-center space-between">
    <section class="info">
        <h2>{{contact.name}}</h2>
        <h3>Phone: {{contact.phone}}</h3>
        <h3>Email: {{contact.email}}</h3>
        <h3>Coins: {{contact.coins}}</h3>
    </section>
    <money-sender (moveAdded)="moveAdded($event)" [contact]="contact"></money-sender>
    <section *ngIf="moves.length" class="flex column align-center">
        <h3>{{contact.name}}'s moves:</h3>
        <move-list [moves]="moves"></move-list>
    </section>
</main>