
.main-header, .main-footer {
    min-height: 10vh;
}

.main-content {
    min-height: 90vh;
    padding: 10px;
    background-color: rgba(133, 145, 253, 0.5);

    >:not(:last-child) {
        margin-bottom: 15px;
    }
}